body {
    background: aquamarine;
}







#wrapper {
    width: 600px;
    margin: 0 auto;
    background: #fafafa;
    padding: 15px;
}





#message {
    font-weight: bold;
}

.success {
    color: green;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}





#customer-table table {
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#customer-table th {
    border: 1px solid black;
    color: red;
}

#customer-table td {
    border: 1px solid black;
}










#new-customer-form {
    margin: 5px auto 0;
}

#new-customer-form .form-element {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#new-customer-form  label, input {
    width: 100%;
}

#new-customer-form  .sex-element {
    width: 50px !important;
}




#login{
    float: right;
}
#login input{
    width: 100%;
}
#wrapper button{
    width: 50%;
}