body {
    background: aquamarine;
}
#wrapper {
    background: #fafafa;
    width:600px;
    margin: 0 auto;
    padding: 20px;
}   

#customer-table table {
    width: 100%;
}
#text-registration{
    margin: 5px;
    text-align: center;
}

#message {
    font-weight: bold;
}



.success {
    color: green;
}
.warning {
    color: yellow;
}
.error {
    color: red;
}
#new-customer-form{
    margin: 5px auto 0;
}
label,input{
    display: block;
    width: 550px;
}
.sex-element{
    width: 50px !important;
}
